﻿<%@ Page Language="C#" Async="true"  AutoEventWireup="true" CodeBehind="Welcome.aspx.cs" Inherits="Sol_AJAX_Login.Welcome" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Welcome</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>

                 <asp:Label ID="lblFullName" runat="server"></asp:Label>

                 <asp:Button ID="btnSubmit" runat="server" Text="LogOut" OnClick="btnSubmit_Click"/>

            </ContentTemplate>
        </asp:UpdatePanel>
        
    </div>
    </form>
</body>
</html>
